.full-page {
    height: 100vh;
    align-content: center;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0px;
}


.header {
    display: flex;
    background-color: #c54a84;
    justify-content: center;
    gap: 24rem;
    align-items: center;
    padding: 15px;
}

h1 {
    color: #F9FAF8;
    font-size: 24px;
    margin: 0;
}

ul {
    margin: 0;
}

a {
    color: white;
    padding: 10px;
}

.container-one {
    background-color: #1497c5;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 70px;
}

.header-paragraph-button-container > h2 {
    color: #F9FAF8;
    font-size: 48px;
    margin: 0;
}

.header-paragraph-button-container > p {
    color: #E5E7EB;
    margin-top: 8px;
    margin-bottom: 8px;
}

button {
    background-color: white;
    border-radius: 5px;
    color: #1497c5;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: none;
    font-weight: 900;
}

.header-paragraph-button-container {
    max-width: 425px;
}

.responsive {
    width: 100%;
    height: auto;
    max-width: 425px;
    max-height: 300px
}

.container-two > h3 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.illustrations-and-descriptions-container {
    display: flex;
    justify-content: center;

}

.illustration-and-description {
    padding: 20px;
}

.illustration-and-description > p {
    text-align: center;
}

.square-image {
    width: 100%;
    height: auto;
    max-width: 175px;
    max-height: 175px;
    border-color: #1497c5;
    border-style: solid;
    border-radius: 10px;

    /* delete later */
    min-height: 175px;
    min-width: 175px;
}

.container-three {
    background-color: #ffebf9;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* /* padding-left: 10rem; */
    /* padding-right: 10rem; */
    padding-top: 100px;
    padding-bottom: 100px;
}

.blockquote-and-figcaption {
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

blockquote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    margin: 0;
    
}

figcaption {
    align-self: flex-end;
    padding-right: 65px;
    font-weight: bold;
    font-size: 24px;
}

.container-four {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.action-and-button-container {
    background-color: #05a1d3;
    border-radius: 10px;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 1200px;
    justify-content: space-around;
    }

h3 {
    color: #c54a84;
}

h4 {
    color: #F9FAF8;
    font-size: 24px;
    margin: 0;
}

.action-and-description-container > p {
    color: #E5E7EB;
    margin: 0;

}

.action-and-button-container > button {
    border-color: #F9FAF8;
    border-style: solid;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 12px;  
}

.footer {
    background-color: #c54a84;
    color: #E5E7EB;
    text-align: center;
    padding: 30px;
}







































































































































































































































































